<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Mapping>
		<Packages>
			<Package>
				<Name>Test</Name>
				<CountryName>Test</CountryName>
				<CountryName_Eng>Test</CountryName_Eng>
				<BaseURL>https://raw.githubusercontent.com/Jasmeet181/LogoManager-updates/master/Test/</BaseURL>
				<Logos_TV>TV/.Light/</Logos_TV>
				<Logos_Radio></Logos_Radio>
				<SupportsLastModified>false</SupportsLastModified>
			</Package>
		</Packages>
		<AltDesigns>https://raw.githubusercontent.com/Jasmeet181/LogoManager-updates/master/Designs/</AltDesigns>
	</Mapping>
	<Settings>
		<Group></Group>
		<GroupType></GroupType>
		<Package></Package>
		<LastSelectedPackage></LastSelectedPackage>
		<Design>Simple Black Glow</Design>
		<ConfigUpdateURL>https://raw.githubusercontent.com/Jasmeet181/LogoManager-updates/master/Test/LogoManager.config</ConfigUpdateURL>
	</Settings>
</Configuration>